html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 4rem;
  }
  ::-webkit-scrollbar:horizontal {
    width: 4rem;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 8px;
    background: #c2c9d2;
  }
}
