html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}
