html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 4rem;
  }
  ::-webkit-scrollbar:horizontal {
    width: 4rem;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 8px;
    background: #c2c9d2;
  }
}

.pagination {
  margin-left: 10rem;
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px 8px;
  cursor: pointer;
}

.page-item.active {
  background-color: #ff7a00;
  border-color: #ff7a00;
  color: #fff;
}

.page-link {
  display: block;
  text-align: center;
}

.page-link:hover {
  text-decoration: none;
}
